.sectionTitle{color: #000;font-size: 48px;font-weight: 900;font-family: "Avenir Regular";}
.sectionDesc{font-size: 18px;font-weight: 400; }
.secDescLight{font-family: Avenir Book;font-size: 18px;font-weight: 400;width:50%}

/* back to home */
.projectcta {padding: 10px 35px;border: 2px solid #00b180;background-color: #00b180;border-radius: 10px;cursor: pointer;transition: 0.3s ease 0s;width: fit-content;font-size: 18px; margin: auto; color:#fff; margin-top: 5%;}
.projectcta:hover {background-color: transparent;color:#00b180;transition: 0.3s ease 0s;}





@media only screen and (max-width: 960px) {
 .sectionTitle {font-size: 28px;}
 .secDescLight{font-size: 15px;width: 100%;}
 .projectcta {padding: 10px 20px; font-size: 14px;white-space: nowrap;}
 
}