.footer {font-family: Avenir Book;color: white;font-size: 15px;display: flex;justify-content: space-between;}
.col1{width: 32%;}
.col2{margin-right: 10%; display: flex; flex-direction: column;}
.col2linkPadd{padding-top: 20px;}
.col2link:hover{color:#00B180;transition: all 0.3s;}
.hide{visibility: hidden;}
.logo{padding-bottom: 20px;}
.contactItem{display: flex; margin-bottom: 10px ;}
.icon{margin-right: 20px;}
.textItem {transition: all 0.3s; margin-right: 10px; }
.textItem:hover{color:#00B180;}
.colTitle{font-family:'Avenir Black' ;font-size: 16px;font-weight: 900;margin-bottom: 20px;}
.socialMedia,.footerAddress{margin-top: 50px;}
.copyrights{font-family: 'Avenir Book';color: white;font-size: 15px;border-top: 1px solid rgba(255, 255, 255, 0.778) ;padding-top:2%;margin-top: 5%;text-align: center;}
.socialMedia{display: flex;justify-content: space-between;}
 

@media screen and (max-width: 960px) {
     

    
}