.active {
  opacity: 1 !important;
}
@media only screen and (min-width: 960px) {
  a.active:after {
    width: 100%;
    left: 0;
    color: #00b180;
  }
}

@font-face {
  font-family: "Avenir Heavy";
  src: url("/fonts/Avenir/Avenir Heavy/Avenir Heavy.ttf");
}

@font-face {
  font-family: "Avenir Black";
  src: url("/fonts/Avenir/Avenir Black/Avenir Black.ttf");
}

@font-face {
  font-family: "Avenir Book";
  src: url("/fonts/Avenir/Avenir Book/Avenir Book.ttf");
}

@font-face {
  font-family: "Avenir Heavy";
  src: url("/fonts/Avenir/Avenir Heavy/Avenir Heavy.ttf");
}

@font-face {
  font-family: "Avenir Light";
  src: url("/fonts/Avenir/Avenir Light/Avenir Light.ttf");
}

@font-face {
  font-family: "Avenir Regular";
  src: url("/fonts/Avenir/Avenir Regular/Avenir Regular.ttf");
}
* {margin: 0;box-sizing: border-box;text-decoration: none;-webkit-touch-callout: none;-webkit-tap-highlight-color: transparent;-webkit-appearance: none;padding: 0;list-style: none;scroll-behavior: smooth;}
*:focus {outline: none;box-shadow: none;}


main {
  min-height: 65vh !important;
}

p {
  line-height: 1.6;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Avenir Heavy", sans-serif;
  position: relative;
}
@media only screen and (min-width: 960px) {
  body {
    overflow: auto !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
footer {
  background-color: black;
  padding: 5% 10% 2% 10%;
}
nav {
  background-color: black;
  padding: 1% 10%;
}
@media screen and (min-width: 900px) {
  /* for shrinking the page on zoom  out */
  .container {
    max-width: 1420px !important;
    margin: auto;
    width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  footer,
  nav {
    padding: 2% 5%;
  }
}
