html,
body {
  padding: 0;
  margin: 0;
  font-family: "Avenir Heavy", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
@font-face {
  font-family: "Avenir Heavy";
  src: url("/fonts/Avenir/Avenir Heavy/Avenir Heavy.ttf");
}

@font-face {
  font-family: "Avenir Black";
  src: url("/fonts/Avenir/Avenir Black/Avenir Black.ttf");
}
@font-face {
  font-family: "Avenir Book";
  src: url("/fonts/Avenir/Avenir Book/Avenir Book.ttf");
}
@font-face {
  font-family: "Avenir Heavy";
  src: url("/fonts/Avenir/Avenir Heavy/Avenir Heavy.ttf");
}
@font-face {
  font-family: "Avenir Light";
  src: url("/fonts/Avenir/Avenir Light/Avenir Light.ttf");
}
@font-face {
  font-family: "Avenir Regular";
  src: url("/fonts/Avenir/Avenir Regular/Avenir Regular.ttf");
}

/* .container{
} */

footer{
    background-color: black;
    padding: 5% 10% 2% 10%;
}
@media screen and (min-width: 900px) {

  /* for shrinking the page on zoom  out */
  .container{
          max-width: 1420px !important;
          margin: auto;
          width: 100%;
     }
}
