@font-face {
  font-family: "Avenir Heavy";
  src: url("/fonts/Avenir/Avenir Heavy/Avenir Heavy.ttf");
}

@font-face {
  font-family: "Avenir Black";
  src: url("/fonts/Avenir/Avenir Black/Avenir Black.ttf");
}

@font-face {
  font-family: "Avenir Book";
  src: url("/fonts/Avenir/Avenir Book/Avenir Book.ttf");
}

@font-face {
  font-family: "Avenir Heavy";
  src: url("/fonts/Avenir/Avenir Heavy/Avenir Heavy.ttf");
}

@font-face {
  font-family: "Avenir Light";
  src: url("/fonts/Avenir/Avenir Light/Avenir Light.ttf");
}

@font-face {
  font-family: "Avenir Regular";
  src: url("/fonts/Avenir/Avenir Regular/Avenir Regular.ttf");
}
* {margin: 0;box-sizing: border-box;text-decoration: none;-webkit-touch-callout: none;-webkit-tap-highlight-color: transparent;-webkit-appearance: none;padding: 0;list-style: none;scroll-behavior: smooth;}
*:focus {outline: none;box-shadow: none;}

main {min-height: 65vh !important;}
p {line-height: 1.6;}
html,
body {padding: 0;margin: 0;font-family: "Avenir Heavy", sans-serif;position: relative;}
@media only screen and (min-width: 960px) {
  body {overflow: auto !important; }
}
a {color: inherit;text-decoration: none;}
footer {background-color: black;padding: 5% 10% 2% 10%;}
nav {background-color: black;padding: 1% 10%;}


select,
textarea,
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"] {
  font-size: 16px !important;
  -webkit-appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {transition: background-color 5000s ease-in-out 0s !important;}

.warper{padding: 80px 8em}
.blackbg{background-color: black;}
.whitebg {background-color: #fff;}
.greybg {background-color: #EDEDED;}
.sectionInpage{ padding: 0 8em}


/* for shrinking the page on zoom  out */
@media screen and (min-width: 900px) {
  .container {max-width: 1200px !important;margin: auto;width: 100%;}
}
/* responsive */
@media only screen and (max-width: 960px) {
  .warper,footer,nav {padding: 25px 30px;}
    .blackWhitebg {
      background: linear-gradient(to bottom, #000 80%, #fff 0%) !important
    }
}

/* navbar active */
.active {
  opacity: 1 !important;
}
@media only screen and (min-width: 960px) {
  a.active:after {width: 100%;left: 0;color: #00b180;}
}

.not-found{display: flex;flex-direction: column;justify-content: center;margin: auto;text-align: center;}

/* grid */
.grid {margin-top: 30px;display: grid;gap:2em 2em;grid-template-columns: repeat(2, 1fr );}
.grid img{object-fit: cover;}
.grid img:hover { cursor: zoom-in;  }
.gridImagerow1{width:100%;height: 390px;}
.grid :nth-child(3n) {grid-column: span 2;}
.gridImagerow3{height: 700px; width:100% }
.gridImagerow4{height: 620px; width: 100%}
@media only screen and (max-width: 960px) {
 
}

/* over riding the light box */
._3AWTh {position: fixed !important;height: 100% !important; width: 100%; transition: all 0.5s ease-in !important;}
._3AWTh::before {position: fixed !important;height: 100% !important;}
._3ZUEV {right: 2rem !important;}
._3bkri {background-color: transparent !important;border-radius: 0% !important;}
._3bkri:hover {background-color: transparent !important;}
._3bkri:focus {box-shadow: none !important;}
._20cg_ {width: 2rem !important;height: 2rem !important;border-radius: 50% !important;border: none !important;background-color: #ffffff !important;}
._20cg_:focus {box-shadow: 0px 0px 0px 3px #00b180 !important;}

/* ._3AWTh div:last-child{
    position: fixed;
    bottom: 10px;
    display: flex;
    flex-direction: row; */
    /* flex-wrap: wrap !important; */
    /* justify-content: center !important; */
    /* width: 95% !important; */
    /* overflow: scroll !important; */
/* } */
/* ._3AWTh div:last-child img{ */
  /* width: 25% !important; */
/* } */



/* .itemCarousel{
  margin-right: 1%;
}
.react-multi-carousel-item {
  max-width: 50vw;
  min-width: 50vw;
} */



