/* hero  */
.heroSection{color:#fff;font-family: "Avenir Regular";font-size: 48px;font-weight: 900;width:62%;}
.colortxt{color:#00B180;}
.herocta {padding: 10px 35px;border: 2px solid #00b180;border-radius: 10px;cursor: pointer;transition: 0.3s ease 0s;width: fit-content;font-size: 18px;margin-top: 20px;}
.herocta:hover {background-color: #00b180;transition: 0.3s ease 0s;}

.sectionTitle{color: #00B180;font-size: 48px;font-weight: 900;font-family: "Avenir Regular";}
.sectionDesc{font-size: 18px;font-weight: 400; }
.secDescLight{font-family: Avenir Book;font-size: 18px;font-weight: 400;}

/* projects */
.projectsSection{display: grid;grid-template-columns: repeat(3,2fr); gap: 1em 1em;margin-bottom: 20px;}
.projectCard {width: 100%; height: 353px;overflow: hidden;position: relative;cursor: pointer;}
.projectCard img{ width: 100%;height: 100% !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all .5s;}
.projectCard:hover img,.projectCard:focus img{-ms-transform: scale(1.2);-moz-transform: scale(1.2);-webkit-transform: scale(1.2);-o-transform: scale(1.2);transform: scale(1.2);}
.projectCard:hover .projectOverly,
.projectCard:focus .projectOverly{display: block;}
.projectOverly{height: 100%;width: 100%;position: absolute;top: 0;left: 0;background-color: #000000B2;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all .5s;display: none;}
.projectTitle{font-family: "Avenir Regular";color:#00b180;position: absolute;bottom:20px;left: 20px;font-size: 20px;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all .5s}
.projectcta {padding: 10px 35px;border: 2px solid #00b180;background-color: #00b180;border-radius: 10px;cursor: pointer;transition: 0.3s ease 0s;width: fit-content;font-size: 18px; margin: auto; color:#fff; margin-top: 5%;}
.projectcta:hover {background-color: transparent;color:#00b180;transition: 0.3s ease 0s;}

/* ceo */
.ceoSection{ display: flex; justify-content: space-between; gap:5em 5em }
.ceoImage{ width: 50%;}
.ceoImage img{ min-height: 475px; max-height: 100%; display: block;}
.ceoText{width: 50%;font-family: "Avenir Regular";}
.ceoTextTitle{color: #00B180;font-size: 48px;font-weight: 900; margin-bottom: 15px; }
.ceoDets{ font-size: 16px;}
.ceoDets p{ margin-bottom: 10px;}
.ceoDets p:first-child{font-weight: 600;}


/* form */
.formInput{ margin-top: 5%;}
.formrow{ display: flex; justify-content: space-between; gap:2em 2em}
.formInput input ,.formInput textarea {width: 100%;margin-bottom: 25px;padding:20px;background-color: #EDEDED;border: none; border-radius: 6px;}
.formInput input::placeholder ,.formInput textarea::placeholder {color: #434343;font-size: 16px;font-family: "Avenir Regular";}
.formbtn{ display: flex;  justify-content:  flex-end; }
.formInput button{ outline: none; background-color: #fff;color:#000 ;border: none; cursor: pointer;font-size: 18px; padding: 10px 35px;border: 2px solid #000;transition: 0.3s ease 0s; width: fit-content;border-radius: 10px; font-weight: 800;}
.formInput button:hover {background-color: #000;color:#fff;transition: 0.3s ease 0s;}

/* packages */
.packagesCards{display: flex;justify-content: space-between;gap: 4em 4em;margin-top: 150px !important;}
.packageCard{background: #fff 0% 0% no-repeat padding-box;background: #FFFFFF 0% 0% no-repeat padding-box;box-shadow: 0px 8px 24px #00000029;border-radius: 30px;opacity: 1; width: 50%; min-height: 300px;}
.packageCardIcon{width: 169px;height: 169px;margin-top: -85px !important;}
.packageCardTitle{ width: 75%;}
.packageCardIconWarper{display: flex;justify-content: center;align-items: center;}
.packageCardTitleWarp{margin: 30px 0;display: flex;justify-content: center;align-items: center;}
.packagecta{padding: 10px 25px;border: 2px solid #00b180; background-color: #00b180;border-radius: 10px;cursor: pointer;transition: 0.3s ease 0s;width: fit-content;font-size: 16px; color:#fff; margin: 5% auto ;}
.packagecta:hover {background-color: transparent;color:#00b180;transition: 0.3s ease 0s;}
.packagecta2{padding: 10px 25px;border: 2px solid #00b180; background-color: transparent;border-radius: 10px;cursor: pointer;transition: 0.3s ease 0s;width: fit-content;font-size: 16px; color:#00b180; margin: 5% auto;}
.packagecta2:hover {background-color: #00b180;color:#fff;transition: 0.3s ease 0s;}

/* clinets */
.clinetsCards{ display: grid; grid-template-columns: repeat(5, 1fr);gap: 4em; margin: 50px 0; }
.clinetsCards a {display: flex;justify-content: center;}
.clinetsCards img{width: 80%;height: 60px; }

/* Videos */

.VideoSection{ display: flex; justify-content: space-between; gap:5em 5em }
.Videowarp{width: 50%;height: 320px;display: block;position: relative }
.Videowarp img{width: 100%;height: 320px ; display: block;}
.VideoText{width: 50%;}
.VideoTextTitle{color: #fff;font-size: 48px;font-weight: 900; margin-bottom: 15px;font-family: "Avenir Regular"; }
.VideoDets{ font-size: 16px; color: #fff;font-family: "Avenir Book"; font-weight: 500;}



@media only screen and (max-width: 960px) {
 .heroSection {font-size: 25px;width: 95%;}
 .projectsSection{grid-template-columns: repeat(2,2fr); gap: 1em 1em;margin-bottom: 20px;}
  .ceoSection{ display: flex; justify-content: space-between; flex-direction: column; gap:unset }
  .ceoImage{ width: 100%;order:2; display: flex; justify-content: center; margin-top: 20px;}
  .ceoImage img{ min-height: unset; max-height: 100%; display: block; width: 300px; height: 300px;}
  .ceoText{width: 100%; order:1}
  .ceoTextTitle{font-size: 28px;}
 .ceoDets{ font-size: 15px;}
 .sectionTitle {font-size: 28px;}
 .formrow{ display: block;}

 .packagesCards{display: block;margin-top: 150px !important; }
 .packageCard{width: 100%; min-height: 290px;padding-bottom: 20px;}
 .packageCard:first-child{margin-bottom: 180px !important;}
 .clinetsCards{ grid-template-columns: repeat(3, 1fr);gap: 3em; }
 

.VideoSection{ display: flex; justify-content: space-between; gap:5em 5em ; flex-direction: column;}
.Videowarp{width: 100%;order: 2;height: 350px;}
.Videowarp img{width: 100%;height: 100%; display: block;}

.VideoText{width: 100%; order: 1;}
.VideoTextTitle{color: #fff;font-size: 48px;font-weight: 900; margin-bottom: 15px;font-family: "Avenir Regular"; }
.VideoDets{ font-size: 16px; color: #fff;font-family: "Avenir Book"; font-weight: 500;}

}

@media only screen and (max-width: 600px) {

.projectsSection{ display: block;margin-bottom: 20px;}
.projectCard{margin-bottom: 20px;}
.projectCard {width: 100%; height: 330px; margin-bottom: 20px;}
.projectcta {padding: 10px 20px; font-size: 15px; white-space: nowrap;}
.clinetsCards {gap: 2em;}


}
@media only screen and (max-width: 400px) {
.clinetsCards {gap: 1em;grid-template-columns: repeat(2, 1fr);}
.ceoImage img{   width: 100%; height: 300px;}
}

