.navbar {
  font-family: "Avenir Regular";
  display: flex;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;
  align-items: center;
  font-size: 13px;
}

.overFlowHidden {
  overflow: hidden;
}

.navLinks {
  display: flex;
  gap: 50px;
  font-size: 13px;
}

.navLinks a:after {
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #00b180;
  transition: 0.3s ease 0s;
  width: 0;
}

.navLinks a:hover:after {
  width: 100%;
  left: 0;
  color: #00b180;
}

@media only screen and (max-width: 960px) {
  .navLinks {
    display: none;
  }
}

@media only screen and (min-width: 960px) {
  .navToggle {
    display: none;
  }
}

.navToggle {
  cursor: pointer;
}

.navzcta {
  padding: 10px 35px;
  border: 2px solid #00b180;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease 0s;
}

.navzcta:hover {
  background-color: #00b180;
  transition: 0.3s ease 0s;
}

@media only screen and (max-width: 960px) {
  .navzcta {
    display: none;
  }
}

@media only screen and (min-width: 960px) {
  .mobileNav {
    display: none;
  }
}

.mobileNav {
  overflow: auto;
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  color: #000;
  padding: 0 5%;
  z-index: 100;
}

.closeContainer {
  padding: 30px 0;
}

.closeContainer:hover {
  cursor: pointer;
}

.sideNav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 900;
  font-size: 18px;
}

.mobileNav .greyText {
  opacity: 0.5;
}

.socialMedia {
  display: flex;
  gap: 35px;
  margin-top: 40px;
}

.closeContainer span {
  cursor: pointer;
}

.navAddress {
  margin: 40px 0;
}

.contactItem {
  display: flex;
  margin-top: 10px;
}

.icon {
  margin-right: 20px;
}

.textItem {
  color: #434343;
  transition: all 0.3s;
  margin-right: 10px;
  font-size: 13px;
}

.textItem:hover {
  color: #00B180;
}
.greyText:hover{
  opacity: 1 !important;
}