/* custom btns */
.buttonGroup {display: flex;}
.buttonGroup button {height: 26px;display: flex;justify-content: center;align-items: center;width: 26px;border: 2px solid #00b180;font-size: 18px;cursor: pointer;border-radius: 6px;transition: all 0.25s; color: #fff;background-color: #00b180;}
.buttonGroup button:first-child{ margin-right: 8px;}
.buttonGroup button:hover {color: #fff;background-color: #00b180;}
.buttonGroup button:focus {outline: none;}
.disable{background-color: #fff !important;color: #00b180 !important;pointer-events: none !important;}

/* similar project slider */
/* .slider{ padding-top: 100px; margin: 50px 0; position: relative;}
.buttonGroupContainer{position: absolute;top:24px;right:0;}
.carouselTitle{position: absolute;font-size: 48px;font-weight: 900;top: 0;left: 0;}

.sliderWarper{
     background-color: red;
}

.sliderCard{
     width:100%;
     height: 800px;
     background-color: #fff;
     border: 2px solid black;
}
.sliderCards img{
     width: 100% !important;
     height:300px  !important;
} */

